<?xml version='1.0' encoding='utf-8'?>
<widget id="com.telelanguage.videodev" version="4.0.34" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Telelanguage Video</name>
    <description>
        TeleLanguage Interpretation App
    </description>
    <author email="srhoads@icoa.com" href="http://icoa.com">
        Shawn Rhoads - ICOA Inc.
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*.telelanguage.com" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="wss:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="about:blank" />
    <preference name="AllowInlineMediaPlayback" value="true" />
    <platform name="android">
       <config-file target="AndroidManifest.xml" parent="/" mode="merge">
        <uses-permission android:name="android.permission.CAMERA" />
        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.WAKE_LOCK" />
        <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
        <uses-permission android:name="android.permission.INTERNET" />
		<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
		<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
		<uses-permission android:name="android.permission.CAMERA" />
		<uses-permission android:name="android.permission.RECORD_AUDIO" />
		<uses-permission android:name="android.permission.RECORD_VIDEO" />
        <uses-feature android:name="android.hardware.camera" android:required="true" />
        <uses-feature android:name="android.hardware.camera.autofocus" android:required="true" />
      </config-file>
      <allow-intent href="market:*" />
    </platform>
	<platform name="ios">
		<icon platform="ios" src="www/img/res/icons/ios/icon-small.png" width="29" height="29" />
		<icon platform="ios" src="www/img/res/icons/ios/icon-small-2x.png" width="58" height="58" />
		<icon platform="ios" src="www/img/res/icons/ios/icon-40.png" width="40" height="40" />
		<icon platform="ios" src="www/img/res/icons/ios/icon-40-2x.png" width="80" height="80" />
		<icon platform="ios" src="www/img/res/icons/ios/icon-50.png" width="50" height="50" />
		<icon platform="ios" src="www/img/res/icons/ios/icon-50-2x.png" width="100" height="100" />
		<icon platform="ios" src="www/img/res/icons/ios/icon.png" width="57" height="57" />
		<icon platform="ios" src="www/img/res/icons/ios/icon-2x.png" width="114" height="114" />
		<icon platform="ios" src="www/img/res/icons/ios/icon-60.png" width="60" height="60" />
		<icon platform="ios" src="www/img/res/icons/ios/icon-60-2x.png" width="120" height="120" />
		<icon platform="ios" src="www/img/res/icons/ios/icon-60-3x.png" width="180" height="180" />
		<icon platform="ios" src="www/img/res/icons/ios/icon-72.png" width="72" height="72" />
		<icon platform="ios" src="www/img/res/icons/ios/icon-72-2x.png" width="144" height="144" />
		<icon platform="ios" src="www/img/res/icons/ios/icon-76.png" width="76" height="76" />
		<icon platform="ios" src="www/img/res/icons/ios/icon-76-2x.png" width="152" height="152" />
		<icon platform="ios" src="www/img/iconoriginal.png" width="1024" height="1024" />

		<splash platform="ios" src="www/img/res/screens/ios/screen-iphone-portrait.png" width="320" height="480" />
		<splash platform="ios" src="www/img/res/screens/ios/screen-iphone-portrait-2x.png" width="640" height="960" />
		<splash platform="ios" src="www/img/res/screens/ios/screen-iphone-portrait-568h-2x.png" width="640" height="1136" />
		<splash platform="ios" src="www/img/res/screens/ios/screen-iphone-portrait-667h.png" width="750" height="1334" />
		<splash platform="ios" src="www/img/res/screens/ios/screen-iphone-portrait-736h.png" width="1242" height="2208" />

		<splash platform="ios" src="www/img/res/screens/ios/screen-iphone-landscape.png" height="320" width="480" />
		<splash platform="ios" src="www/img/res/screens/ios/screen-iphone-landscape-2x.png" height="640" width="960" />
		<splash platform="ios" src="www/img/res/screens/ios/screen-iphone-landscape-568h-2x.png" height="640" width="1136" />
		<splash platform="ios" src="www/img/res/screens/ios/screen-iphone-landscape-667h.png" height="750" width="1334" />
		<splash platform="ios" src="www/img/res/screens/ios/screen-iphone-landscape-736h.png" height="1242" width="2208" />
		
		<splash platform="ios" src="www/img/res/screens/ios/screen-ipad-portrait.png" width="768" height="1024" />
		<splash platform="ios" src="www/img/res/screens/ios/screen-ipad-portrait-2x.png" width="1536" height="2048" />
		<splash platform="ios" src="www/img/res/screens/ios/screen-ipad-landscape.png" width="1024" height="768"/>
    	<splash platform="ios" src="www/img/res/screens/ios/screen-ipad-landscape-2x.png" width="2048" height="1536"/>
		<config-file parent="NSCameraUsageDescription" target="*-Info.plist">
			<string>Telelanguage uses your camera to make video calls.</string>
		</config-file>
		<config-file parent="NSContactsUsageDescription" target="*-Info.plist">
			<string>Telelanguage needs access to your contacts in order to be able to call them.</string>
		</config-file>
		<config-file parent="NSMicrophoneUsageDescription" target="*-Info.plist">
			<string>Telelanguage uses your microphone to make calls.</string>
		</config-file>
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <hook type="after_platform_add" src="hooks/iosrtc-swift-support.js" />
    </platform>
</widget>
